<div class="row">
  <div class="col-sm-8 text-center">
    <div class="form-group row mt-3">
      <label for="typeSelect" class="col-sm-3 col-form-label text-right">申请类型</label>
      <div class="col-sm-3 mt-1">
        <select class="form-control" id="typeSelect" [formControl]="applyTypeId">
          <option *ngFor="let applyType of applyTypes" [value]="applyType.id">
            {{applyType.name}}
          </option>
        </select>
      </div>
      <button class="btn btn-sm btn-primary" (click)="renderData()">确定</button>
    </div>
    <table class="table table-striped mt-2" *ngIf="applyTypeId.valid && applyTypeId.value !== ''">
      <thead>
      <tr class="table-primary">
        <th *ngIf="labels.length > 0">序号</th>
        <th *ngFor="let label of labels">{{ label.name }}</th>
        <th *ngIf="labels.length > 0">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let content of contents; index as i">
        <td>{{ i + 1 }}</td>
        <td *ngFor="let label of labels">{{ content[label.key] }}</td>
        <td>
          <a routerLink="edit/{{content['id']}}" class="btn btn-sm btn-primary mr-1"><i class="fas fa-edit"></i>编辑</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
